// Colours

$blue: #0057FF;
$red: #FF3D60;
$yellow: #FFDF39;
$grey-dark: #A5A5A5;
$grey-light: #F2F2F2;
$grey-soft: #DFDFDF;




// $circular: 'CircularStd',
// sans-serif;
// $roboto: 'Roboto Mono',
// monospace;


// Breakpoints
$desktop: 1280px;
$tablet: 991px;
$small-tablet: 767px;
$phone: 479px;